<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %-5level %d{MM-dd-yyyy HH:mm:ss} [%thread] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="work.hoodie.crypto.exchange.monitor" level="info"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>